body{
    font-family: 'Roboto', sans-serif;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 1em;
    color: #333333;
}

.nav{
    display: flex;
}
.nav a{
    flex: 2;
}
.nav ul{
    padding-left: 7em;
    font-size: 12px;
    flex: 5;
    list-style: none;
    display: flex;
    letter-spacing: 1px;
}
.nav li:first-child{
    border-bottom: 1px solid #333333;
    
}
.nav li{
    margin-right: 5em;
}
.main{
    padding-top: 2em;
    display: flex;
}
.main-left{
    flex: 0.4;
    justify-content: center;
    text-align: center;
    display: grid;
    place-items: center;
}
.main-left h1{
    color: #BDBDBD;
    font-weight: 300;
    font-size: 64px;
    margin: 0;
    
}
.main-right{
    flex: 0.5;
    height: 600px;
    position: relative;
    background-image:url("images/mainimage.png");
    background-size: cover;
}
.main-right{
    display: flex;
}
.main-left h1:last-child{
    font-size: 64px;
    font-weight: 700;
    color: #333333;
    text-align: left;
}
.main-left-text{
    display: flex;
    flex-direction: column;
}
.main-right-text{
    height: 60px;
    width: 180px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}
.main-right-text span{
    font-size: 12px;
    position: relative;
    left: 2em;
    top: 2em;
}
.main-right-text a:link{
    text-decoration: none;
}
.about{
    padding-left: 15em;
    padding-right: 15em;
    display: flex;
    background-color: #FBFBFB;
    margin-top: 50px;
}
.about-left img{
    width: 270px;
}

.about-left-left-photos:first-child img{
    height: 265px;
}
.about-left-left-photos:only-child(2) img{
    height: 140px;
}
.about-left img{
    height: 345px;
}
.about-right h1{
    color: #BDBDBD;
    font-weight: 300;
    font-size: 64px;
}
.about-left{
    display: flex;
}